In [15]:
# enumerate: 순서와 리스트의 값을 반환하는 기능
mylist = ['Korean', 'English', 'Math', 'Science', 'Politics']

for number, name in enumerate(mylist):
    print("- Course: {}, Number: {}".format(name, number))

- Course: Korean, Number: 0
- Course: English, Number: 1
- Course: Math, Number: 2
- Course: Science, Number: 3
- Course: Politics, Number: 4